In [2]:
import pandas as pd
import numpy as np

In [11]:
cp_org = pd.read_csv('crime_in_seoul.csv')
cp_org.head()

   구분  죄종 발생검거   건수
0  중부  살인   발생    1
1  중부  살인   검거    1
2  중부  강도   발생    4
3  중부  강도   검거    4
4  중부  강간   발생  127

In [34]:
cp_new = pd.DataFrame()
cp_new['관서명'] = cp_org['구분'].drop_duplicates().reset_index()['구분']
for crime in cp_org['죄종'].drop_duplicates() :
    for status in cp_org['발생검거'].drop_duplicates() :
#         print(crime+status)
        cp_new[crime+status] = cp_org[(cp_org['죄종'] == crime) & (cp_org['발생검거'] == status) ].reset_index()['건수']
cp_new.head()        
# for crime in cp_org['죄종'].drop_duplicates()
# cp_new = pd.DataFrame()
# # cp_new['살인검거'] = cp_org[(cp_org['죄종'] == '살인') & (cp_org['발생검거'] == '검거') ]
# cp_new['살인검거'] = cp_org[(cp_org['죄종'] == '살인') & (cp_org['발생검거'] == '검거') ].reset_index()['건수']
# cp_new['살인발생'] = cp_org[(cp_org['죄종'] == '살인') & (cp_org['발생검거'] == '발생') ].reset_index()['건수']

# cp_new

   관서명  살인발생  살인검거  강도발생  강도검거  강간발생  강간검거  절도발생  절도검거  폭력발생  폭력검거
0   중부     1     1     4     4   127    76  1198   574  1135   944
1   종로     2     2     5     4   152   122   816   369  1248  1058
2  남대문     1     0     2     1    68    39  1004   476   786   688
3  서대문     2     1     5     5   175   154  1226   600  1533  1258
4   혜화     2     1     2     2    86    55   699   364   832   732