In [6]:
import pandas as pd
import numpy as np

In [7]:
cp_org = pd.read_csv('crime_in_seoul.csv')
cp_org.head()

   구분  죄종 발생검거   건수
0  중부  살인   발생    1
1  중부  살인   검거    1
2  중부  강도   발생    4
3  중부  강도   검거    4
4  중부  강간   발생  127

In [8]:
cp_new = pd.DataFrame()
cp_new['관서명'] = cp_org['구분'].drop_duplicates().reset_index()['구분']
for crime in cp_org['죄종'].drop_duplicates() :
    for status in cp_org['발생검거'].drop_duplicates() :
#         print(crime+status)
        cp_new[crime+status] = cp_org[(cp_org['죄종'] == crime) & (cp_org['발생검거'] == status) ].reset_index()['건수']
cp_new.head()        
# for crime in cp_org['죄종'].drop_duplicates()
# cp_new = pd.DataFrame()
# # cp_new['살인검거'] = cp_org[(cp_org['죄종'] == '살인') & (cp_org['발생검거'] == '검거') ]
# cp_new['살인검거'] = cp_org[(cp_org['죄종'] == '살인') & (cp_org['발생검거'] == '검거') ].reset_index()['건수']
# cp_new['살인발생'] = cp_org[(cp_org['죄종'] == '살인') & (cp_org['발생검거'] == '발생') ].reset_index()['건수']

# cp_new

   관서명  살인발생  살인검거  강도발생  강도검거  강간발생  강간검거  절도발생  절도검거  폭력발생  폭력검거
0   중부     1     1     4     4   127    76  1198   574  1135   944
1   종로     2     2     5     4   152   122   816   369  1248  1058
2  남대문     1     0     2     1    68    39  1004   476   786   688
3  서대문     2     1     5     5   175   154  1226   600  1533  1258
4   혜화     2     1     2     2    86    55   699   364   832   732

In [9]:
cp_new['구별'] = ["중구", "종로구", "중구", "서대문구", "종로구", "용산구", "성북구", "동대문구", "마포구", "영등포구",
"성동구", "동작구", "광진구", "은평구", "강북구", "금천구", "중랑구", "강남구", "관악구", "강서구",
"강동구", "성북구", "구로구", "서초구", "양천구", "송파구", "노원구", "서초구", "은평구", "도봉구", "강남구"]
cp_new.head(10)

   관서명  살인발생  살인검거  강도발생  강도검거  강간발생  강간검거  절도발생  절도검거  폭력발생  폭력검거    구별
0   중부     1     1     4     4   127    76  1198   574  1135   944    중구
1   종로     2     2     5     4   152   122   816   369  1248  1058   종로구
2  남대문     1     0     2     1    68    39  1004   476   786   688    중구
3  서대문     2     1     5     5   175   154  1226   600  1533  1258  서대문구
4   혜화     2     1     2     2    86    55   699   364   832   732   종로구
5   용산     3     3     3     4   272   237   999   544  2035  1821   용산구
6   성북     2     2     0     0   117    75   442   259   737   674   성북구
7  동대문     6     6    10     9   168   143  1531   827  1975  1831  동대문구
8   마포     2     2     2     2   495   417  2190   917  2153  1832   마포구
9  영등포    10    10     3     3   356   239  2409  1068  3039  2465  영등포구

In [10]:
cp_new.to_csv("crime_in_seoul_2.csv", sep=',', encoding='utf-8')

In [17]:
df = pd.read_csv('sales-funnel.txt', sep='\t')
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [18]:
pd.pivot_table(df, index=["Name"])

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [19]:
pd.pivot_table(df, index=["Name", "Rep", "Manager"])

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

In [20]:
pd.pivot_table(df, index=["Name", "Rep", "Manager"], values=["Price"])

                                                           Price
Name                         Rep           Manager
Barton LLC                   John Smith    Debra Henley    35000
Fritsch, Russel and Anderson Craig Booker  Debra Henley    35000
Herman LLC                   Cedric Moss   Fred Anderson   65000
Jerde-Hilpert                John Smith    Debra Henley     5000
Kassulke, Ondricka and Metz  Wendy Yule    Fred Anderson    7000
Keeling LLC                  Wendy Yule    Fred Anderson  100000
Kiehn-Spinka                 Daniel Hilton Debra Henley    65000
Koepp Ltd                    Wendy Yule    Fred Anderson   35000
Kulas Inc                    Daniel Hilton Debra Henley    25000
Purdy-Kunde                  Cedric Moss   Fred Anderson   30000
Stokes LLC                   Cedric Moss   Fred Anderson    7500
Trantow-Barrows              Craig Booker  Debra Henley    15000

In [21]:
pd.pivot_table(df, index=["Manager", "Rep"], values=["Price"], aggfunc=np.sum)
# pd.pivot_table(df, index=["Rep", "Manager"], values=["Price"], aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [22]:
pd.pivot_table(df, index=["Manager", "Rep", "Product"],
               values=["Price", "Quantity"],
               aggfunc=[np.sum, np.mean], fill_value=0, margins=True)
# pd.pivot_table(df, index=["Manager", "Rep", "Product"],
#                values=["Price", "Quantity"],
#                aggfunc=[np.sum, np.mean], fill_value=0)

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706

In [23]:
cp_raw = pd.read_csv("crime_in_seoul_2.csv", sep=',', encoding='utf-8')
# cp_raw.drop('Unnamed: 0', axis=1, inplace= True)
cp_raw.head()

,Unnamed: 0,관서명,살인발생,살인검거,강도발생,강도검거,강간발생,강간검거,절도발생,절도검거,폭력발생,폭력검거,구별
0,0,중부,1,1,4,4,127,76,1198,574,1135,944,중구
1,1,종로,2,2,5,4,152,122,816,369,1248,1058,종로구
2,2,남대문,1,0,2,1,68,39,1004,476,786,688,중구
3,3,서대문,2,1,5,5,175,154,1226,600,1533,1258,서대문구
4,4,혜화,2,1,2,2,86,55,699,364,832,732,종로구

In [24]:
cp_raw = pd.read_csv("crime_in_seoul_2.csv", sep=',', encoding='utf-8', index_col =0)
ca = pd.pivot_table(cp_raw, index='구별', aggfunc=np.sum)
ca.head()

     강간검거  강간발생  강도검거  강도발생  살인검거  살인발생  절도검거  절도발생  폭력검거  폭력발생
구별
강남구   562   666     6     5     3     5  1339  2970  3153  3652
강동구   155   180    14    15     5     6   907  1650  1873  2161
강북구   145   176     2     3     6     6   664  1229  2204  2422
강서구   257   306     4     3     9     8  1077  2050  2192  2555
관악구   335   408    11    10    10    13  1085  2223  2363  2667

In [25]:
crime_list = ['강간', '강도', '살인', '절도', '폭력']

In [26]:
for crime in crime_list:
    ca[crime+'검거율'] = ca[crime+'검거']/ca[crime+'발생']*100
    del ca[crime+'검거']
ca.head()

,강간발생,강도발생,살인발생,절도발생,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,666,5,5,2970,3652,84.384384,120.000000,60.000000,45.084175,86.336254
강동구,180,15,6,1650,2161,86.111111,93.333333,83.333333,54.969697,86.672837
강북구,176,3,6,1229,2422,82.386364,66.666667,100.000000,54.027665,90.999174
강서구,306,3,8,2050,2555,83.986928,133.333333,112.500000,52.536585,85.792564
관악구,408,10,13,2223,2667,82.107843,110.000000,76.923077,48.807917,88.601425

In [27]:
for crime in crime_list:
    ca.loc[ca[crime+'검거율'] > 100, crime+'검거율'] = 100
ca.head()

,강간발생,강도발생,살인발생,절도발생,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,666,5,5,2970,3652,84.384384,100.000000,60.000000,45.084175,86.336254
강동구,180,15,6,1650,2161,86.111111,93.333333,83.333333,54.969697,86.672837
강북구,176,3,6,1229,2422,82.386364,66.666667,100.000000,54.027665,90.999174
강서구,306,3,8,2050,2555,83.986928,100.000000,100.000000,52.536585,85.792564
관악구,408,10,13,2223,2667,82.107843,100.000000,76.923077,48.807917,88.601425

In [28]:
ca.rename(columns = {'강간발생' : '강간',
                     '강도발생' : '강도',
                     '살인발생' : '살인',
                     '절도발생' : '절도',
                     '폭력발생' : '폭력'}, inplace = True)
ca.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,666,5,5,2970,3652,84.384384,100.000000,60.000000,45.084175,86.336254
강동구,180,15,6,1650,2161,86.111111,93.333333,83.333333,54.969697,86.672837
강북구,176,3,6,1229,2422,82.386364,66.666667,100.000000,54.027665,90.999174
강서구,306,3,8,2050,2555,83.986928,100.000000,100.000000,52.536585,85.792564
관악구,408,10,13,2223,2667,82.107843,100.000000,76.923077,48.807917,88.601425

In [29]:
from sklearn import preprocessing

col = ['강간', '강도', '살인', '절도', '폭력']
x = ca[col].values
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x.astype(float))
cn = pd.DataFrame(x_scaled, columns = col, index = ca.index)
col2 = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
cn[col2] = ca[col2]
cn.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,1.000000,0.285714,0.333333,1.000000,1.000000,84.384384,100.000000,60.000000,45.084175,86.336254
강동구,0.156250,1.000000,0.416667,0.394495,0.385914,86.111111,93.333333,83.333333,54.969697,86.672837
강북구,0.149306,0.142857,0.416667,0.201376,0.493410,82.386364,66.666667,100.000000,54.027665,90.999174
강서구,0.375000,0.142857,0.583333,0.577982,0.548188,83.986928,100.000000,100.000000,52.536585,85.792564
관악구,0.552083,0.642857,1.000000,0.657339,0.594316,82.107843,100.000000,76.923077,48.807917,88.601425

In [30]:
cctv = pd.read("cctv.csv", index_col='구별')
cn[['인구수', 'CCTV']] = cctv[['인구수']]

AttributeError: module 'pandas' has no attribute 'read'