In [1]:
import pandas as pd

In [2]:
cctv = pd.read_csv("cctv.csv")

In [3]:
cctv.head()

,구분,총계,2011년 이전,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년
0,계,"75,431","5,901","1,619","2,228",0,"4,368","6,742","8,300","10,100","9,687","11,657","10,232"
1,종로구,"1,729",216,7,10,582,210,150,1,259,85,9,200
2,중 구,"2,001",16,6,199,90,125,218,333,462,228,194,130
3,용산구,"2,383",31,3,71,234,125,221,298,351,125,307,617
4,성동구,"3,515",487,26,122,207,112,335,309,790,409,262,456